html 
  head
    title="The computed Layout Network"
    script(src="assets/vis.min.js")
    link(href="assets/vis-network.min.css" rel="stylesheet" type="text/css")
    style(type="text/css").
      #mynetwork {
        width: 90vw;
        height: 90vh;
        border: 1px solid lightgray;
      }
  body
    p The computed Layout Network
    div(id="mynetwork")
    script(type="text/javascript").
      var nodes = new vis.DataSet(!{nodes});
      var edges = new vis.DataSet(!{edges});
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {};
      var network = new vis.Network(container, data, options);

